body {
	display: flex;
	flex-direction: column;
	background-color: var(--backgroundColor);
	padding: 15px;
	font-family: sans-serif;
	font-size: 12px;
	margin: 0;
}

.menu_container {
	margin-bottom: 15px;
}

.spacer {
	display: block;
	width: 100%;
	margin: 0 auto;
	height: 20px;
	position: relative;
}

.spacer::after {
	content: "Create new Group";
	position: absolute;
	top: 4px;
	width: 150px;
	font-size: smaller;
	text-align: center;
	left: calc(50% - 75px);
	display: none;
}

#delete_element {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	position: fixed;
	top: 5px;
	left: calc(50vw - 20px);
	display: none;
	background-color: darkred;
}

.spacer .draggable_element, #delete_element .draggable_element {
	display: none;
}

.dragging {
	pointer-events: none;
}

.dragging * {
	visibility: hidden;
}

.dragging_clone {
	position: fixed;
	top: -9999px;
}

dialog {
	text-align: center;
	color: inherit;
	background-color: var(--foregroundColor);
	border: none;
	border-radius: 5px;
	padding: 25px 30px;
	--file-width: 200px;
	max-width: calc(100vw - 110px);
	max-height: calc(100vh - 100px);
	overflow: hidden;
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.8);
}

dialog > div {
	border: none;
	justify-content: center;
}

/* ################################## */
.edit_mode #general_menu,
#edit_menu {
	display: none;
}

.edit_mode #edit_menu,
.started_dragging #delete_element,
.edit_mode .spacer::after,
.edit_mode:not(.started_dragging) .create_element {
	display: block !important;
}


